body, html {
    height: 100%;
    margin: 0;
}

.bg {
    /* The image used */
    background-image: url(../Images/fire.gif);
    /* Full height */
    height: 100%;
    opacity: 0.88;
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height:100%;
    min-width:100%;
}

.container {
    height: 70%;
    position: relative;
}

.center {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.button {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    border-radius: 8%;
    background-color: black;
    border: none;
    color: white;
    padding: 7px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
}